---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  - apps
  - batch
  resources:
  - '*'
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.platform.example.com
  resources:
  - resourcegraphs
  - transforms
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - platform.platform.example.com
  resources:
  - resourcegraphs/finalizers
  - transforms/finalizers
  verbs:
  - update
- apiGroups:
  - platform.platform.example.com
  resources:
  - resourcegraphs/status
  - transforms/status
  verbs:
  - get
  - patch
  - update
